<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
    <div th:fragment="nav_bar">
        <nav class="navbar navbar-default navbar-fixed-top navbar-up">
            <!--<div style="float: left;"><img class="logo" src="assets/img/hotel.png" th:src="@{/assets/img/hotel.png}" alt="intercontinental">-->
            </div>
            <div class="navbar-up">
                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png"  th:src="@{/assets/img/user.png}" class="img-circle" alt="Avatar"/><i class="icon-submenu lnr lnr-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/logout"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>