<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
    <div th:fragment="side_bar">
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="/" ><i class="lnr lnr-home active"></i> <span>Inicio</span></a></li>
                        <li><a href="/mantenimiento/show"><i class="lnr lnr-user"></i> <span>Gestionar Mantenimientos</span></a></li>
                        <li><a href="/marca/show"><i class="lnr lnr-user"></i> <span>Gestionar Marcas</span></a></li>
                        <li><a href="/reserva/show"><i class="lnr lnr-user"></i> <span>Gestionar Reservas</span></a></li>
                        <li><a href="/tipoMantenimiento/show"><i class="lnr lnr-user"></i> <span>Gestionar Tipo de mantenimientos</span></a></li>
                        <li><a href="/tipoVehiculo/show"><i class="lnr lnr-user"></i> <span>Gestionar Tipo de vehiculos</span></a></li>
                        <li><a href="/unidad/show"><i class="lnr lnr-user"></i> <span>Gestionar unidades</span></a></li>
                        <li><a href="/vehiculo/show"><i class="lnr lnr-user"></i> <span>Gestionar Vehiculos</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>