<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="fragmentos/head :: head" th:remove="tag"/>
<title>Gestionar usuarios | SIGREC</title>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <div th:include="fragmentos/navbar :: nav_bar" ></div>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div th:include="fragmentos/sidebar :: side_bar" ></div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <div class="box">
                    <div th:if="${message!=null}" class="alert alert-success alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span th:text="${message}"></span>
                    </div>
                </div>
                <h4 class="page-title" style="font-weight: 400;">Listado de Vehiculos</h4>
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BORDERED TABLE -->
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Vehiculos registrado</h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Nombre Vehiculo</th>
                                            <th>Numero Chasis</th>
                                            <th>Numero Motor</th>
                                            <th>Placa</th>
                                            <th>Marca</th>
                                            <th>Tipo Vehiculo</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="v : ${vehiculos}">
                                            <td th:text="${v.nombre}"></td>                                       
                                            <td th:text="${v.numeroChasis}"></td>
                                            <td th:text="${v.numeroMotor}"></td>
                                            <td th:text="${v.placa}"></td>
                                            <td th:text="${v.idMarca.getMarca()}"></td>
                                            <td th:text="${v.idTipoVehiculo.getTipoVehiculo()}"></td>
                                            <td>
                                                <a th:href="@{/vehiculo/edit/{id}(id=${v.idVehiculo})}">
                                                    <button type="button" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                                </a>
                                                <a th:href="@{/vehiculo/delete/{id}(id=${t.idVehiculo})}">
                                                    <button type="button" class="btn btn-danger" onclick="return confirm('Seguro que desea eliminar el vehiculo?')">
                                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END BORDERED TABLE -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <div th:include="fragmentos/footer :: footer"></div>
</div>
<!-- END WRAPPER -->
<div th:include="fragmentos/scripts :: scripts" ></div>
<script>
    function eliminarUsuario(id){
      var respuesta=confirm("¿Realmente desea eliminar este Vehiculo?");
      if(respuesta==true)
        window.location="delete/"+id;
      else
      	return 0;
}
</script>
</body>

</html>
