<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="fragmentos/head :: head" th:remove="tag"/>
<title>Gestionar usuarios | SIGREC</title>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <div th:include="fragmentos/navbar :: nav_bar" ></div>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div th:include="fragmentos/sidebar :: side_bar" ></div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <div class="box">
                    <div th:if="${message!=null}" class="alert alert-success alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span th:text="${message}"></span>
                    </div>
                </div>
                <h4 class="page-title" style="font-weight: 400;">Crear nuevo usuario</h4>
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BORDERED TABLE -->
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Personal registrado</h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Tipo de Vehiculos</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="m : ${marcas}">
                                            <td th:text="${m.marca}"></td>
                                            <th>
                                                <a th:href="@{/marca/edit/{id}(id=${t.id})}">
                                                    <button type="button" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                                </a>
                                                <form th:action="@{'/marca/delete/'+${m.idMarca}}" method="POST" th:object="${m}" class="inline">
                                                    <button type="submit"  onclick="return confirm('Seguro que desea eliminar esta marca?')" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                                </form>
                                            </th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END BORDERED TABLE -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
    <footer>
        <div class="container-fluid">
            <p class="copyright">&copy; 2017 <a href="" target="_blank">SIGREC</a></p>
        </div>
    </footer>
</div>
<!-- END WRAPPER -->
<!-- Javascript
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/scripts/klorofil-common.js"></script>-->
<div th:include="fragmentos/scripts :: scripts" ></div>
<script>
    function eliminarUsuario(id){
      var respuesta=confirm("¿Realmente desea eliminar este Usuario?");
      if(respuesta==true)
        window.location="delete/"+id;
      else
      	return 0;
}
</script>
</body>

</html>
